<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66864649145-jirlgfigf9c3ocbjpoqpdmaplis1l81p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66864649145-jirlgfigf9c3ocbjpoqpdmaplis1l81p</string>
	<key>API_KEY</key>
	<string>AIzaSyArWFqbJoU_6ZGQKIu6Yktu8mxyXol0ELY</string>
	<key>GCM_SENDER_ID</key>
	<string>66864649145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diaz.BeagleSort</string>
	<key>PROJECT_ID</key>
	<string>beaglesort</string>
	<key>STORAGE_BUCKET</key>
	<string>beaglesort.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66864649145:ios:18f4b792e8614061779c68</string>
	<key>DATABASE_URL</key>
	<string>https://beaglesort.firebaseio.com</string>
</dict>
</plist>